body {
    background-color: #283040;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

h1,
h2,
h3{
    color: #283040 ;
    text-align: center;
}

#container { 
    background-color:#BFBFAA;
    width: 75%;
    margin: 20px auto;
    border: 4px solid #D9C27E;
}

nav {
    background-color: #BFBFAA ;
    padding: 2px 0;
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    background-color: #627369;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    font-weight: bold;
    color: darkgray;
    text-decoration: none;
    border: 2px solid darkgray;
    border-radius: 20px;
    margin: 0 10px;
}

nav li a:hover {
    background-color: aliceblue;
    color: #283040;
    border: 6px double #283040;
}

main {
    display: flex;
}

section, 
aside {
    border: 2px solid #283040;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

section {
    width: 80%;
}

aside {
    width: 20%;
}
.single_page {
    width: 100%;
}

#main_image_resize {
    width: 75%;
}

#lower_area {
    display: flex;
}

.col {
    border: 2px solid #283040;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 33.3%;
}

footer {
    background-color: #283040 ;
    text-align: center;
    padding: 40px 0;
    color:#BFBFAA;
    font-weight: bold;
}

.button {
    display: block;
    width: 100px;
    height: 10px;
    line-height: 10px;
    background-color: #283040;
    color: #BFBFAA;
    text-decoration:none;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border: 4px solid #627369;
    border-radius: 5px;
    margin: 20px auto;
}

.button:hover {
    background-color:aliceblue;
    border-color:#627369;
}

table {
    border: 4px solid #627369;
  
}

td,
tr {
    border: 10px double #627369;  
}